@import './hack.less';
#nav{
  background: #2B3A4F;
  color: white;
  border-radius: 0;
  h1{
    margin: 20px;
  }
  #right{
    margin-top: 20px;
  }
  a{
    color: white;
    margin: 6px;
    text-decoration: none;
  }
  button{
    border: 0;
    margin-top: 8px;
    margin-left: 5px;
    padding: 6px;
    border-radius: 4px;
  }
}
